# API key
export SECRET_KEY=
export JWT_SECRET_KEY=

# Flas config.
export FLASK_CONFIG=dev
export PORT=8000

# Database default configs.
export MARIADB_HOST=db
export MARIADB_NAME=spost
export MARIADB_USER=userconnect
export MARIADB_PORT=3306
export MARIADB_ROOT_PASSWORD_FILE=/run/secrets/db-root-password
export MARIADB_PASSWORD_FILE=/run/secrets/db-password
# export MARIADB_DATABASE_URL=
